{
    "extends": "airbnb",
    "env": {
        "browser": true,
        "mocha": true
    },
    "rules": {
        "indent": ["error", 4],
        "comma-dangle": ["error", "never"],
        "space-before-function-paren": ["warn", {
            "anonymous": "always",
            "named": "always"
        }],
        "new-cap": ["error", { "capIsNewExceptions": ["Polymer"] }],
        "no-underscore-dangle": [0],
        "no-console: ["error", "never"]
    },
    "max-len": [2, 100, 2, {
        "ignoreUrls": true,
        "ignoreComments": true,
        "ignorePattern": "^\\import\\s.*"
    }]
}
